@tailwind base;
@tailwind components;
@tailwind utilities;
/**

rgba(242, 244, 248, 1) Grey Palette/C1
rgba(226, 229, 235, 1) Grey Palette/C2
rgba(211, 214, 223, 1) Grey Palette/C3
rgba(198, 202, 210, 1) Grey Palette/C4
rgba(176, 183, 190, 1) Grey Palette/C5
rgba(135, 141, 150, 1) Grey Palette/C6
rgba(77, 83, 88, 1) Grey Palette/C7
rgba(34, 39, 41, 1) Grey Palette/C8
rgba(19, 21, 22, 1) Grey Palette/C9


rgba(0, 240, 201, 1) Turquoise Palette/T2

rgba(25, 200, 25, 1) Varos Principal/ FL Green
rgba(0, 247, 0, 1) Varos Principal/ S Green

rgba(19, 19, 19, 1) Varos principal/C Black

rgba(250, 250, 250, 1) Varos principal/Doc

rgba(204, 204, 204, 1)  Varos/G1

rgba(7, 174, 229, 1)

rgba(0, 240, 201, 1)


rgba(255, 255, 255, 1)


rgba(18, 216, 178, 1), rgba(19, 21, 22, 1)

rgba(19, 19, 19, 1), rgba(19, 19, 19, 0)

rgba(34, 39, 41, 1), rgba(28, 183, 153, 1)

rgba(34, 39, 41, 0)





*/
:root {
  --foreground-rgb: 19, 19, 19;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-doc: 250, 250, 250;
  --grey-C1: rgba(242, 244, 248, 1)
  --grey-C8: rgba(34, 39, 41, 1)
  --grey-C9: rgba(19, 21, 22, 1)
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 19, 19, 19;
    --background-start-rgb: 19, 19, 19;
    --background-end-rgb: 19, 19, 19;
    /* Grey Palette */
    --grey-C1: rgba(242, 244, 248, 1);
    --grey-C2: rgba(226, 229, 235, 1);
    --grey-C3: rgba(211, 214, 223, 1);
    --grey-C4: rgba(198, 202, 210, 1);
    --grey-C5: rgba(176, 183, 190, 1);
    --grey-C6: rgba(135, 141, 150, 1);
    --grey-C7: rgba(77, 83, 88, 1);
    --grey-C8: rgba(34, 39, 41, 1);
    --grey-C9: rgba(19, 21, 22, 1);

    --turquoise-T2: rgba(0, 240, 201, 1);

    --varos-FL-Green: rgba(25, 200, 25, 1);
    --varos-Button-Green: rgba(25, 200, 25, 0.4);
    --varos-S-Green: rgba(0, 247, 0, 1);
    --varos-C-Black: rgba(19, 19, 19, 1);
    --varos-Doc: rgba(250, 250, 250, 1);

    --varos-G1: rgba(204, 204, 204, 1);
  }
}

body {
  background: rgb(var(--foreground-rgb));
  max-width: 1200px;
  margin: 0 auto;
}


.header {
  height: 64px !important;
  padding: 0 !important;
}
.ant-layout-header {
  padding: 0 !important;
}

.ant-menu-item {
  background-color: transparent !important;
}
.borda-gradient {
  background: linear-gradient(#131313, #131313) padding-box,
  linear-gradient(to right, #4d5358, #4d535800 80%) border-box;
  border: 1px solid transparent;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: #10a87d;
}


/**
Accordion
*/

.ant-collapse{
  border: 1px solid #222729 !important;
  border-radius:40px !important;
  padding:16px 32px !important;
  background-color: var(--grey-C8) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ant-collapse-header { 
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
}

.ant-collapse-item{
  border:none !important;
  border-radius:0px !important;
  
}
.ant-collapse-header-text{
color: var( --grey-C1);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-right: 10px;
}
.ant-collapse-content{
  border:none !important;
  margin-top:16px !important;
}
.ant-collapse-content-box{
  background-color:var(--grey-C9)
}

/* //Button 

.ant-btn {
  background-color: rgb(19, 19, 19) !important;
} */

@layer utilities {
  body .bg-custom-primary-black {
    background-color: rgb(19, 19, 19);
  }
  body .text-primary-doc {
    color: rgb(var(--primary-doc));
  }

  .text-grey-c1 {
    color: var(--grey-C1);
  }

  .text-grey-c2 {
    color: var(--grey-C2);
  }

  .text-s-green {
    color: var(--varos-S-Green);
  }

  .bg-green-button {
    background-color: rgba(25, 200, 25, 0.4);
  }
}
